---
import Lens from "../../components/Lens.astro";
import RippleText from "../../components/ripple-text/RippleText.astro";
import PortfolioTissue from "../../components/text-tissue/PortfolioTissue.astro";
import { getLangFromURL, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromURL(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
	return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<Layout>
  <Lens />
  <main></main>
</Layout>
