---
import Lens from "../../components/Lens.astro";
import RippleText from "../../components/ripple-text/RippleText.astro";
import PortfolioTissue from "../../components/text-tissue/PortfolioTissue.astro";
import WaveText from "../../components/wave-text/WaveText.astro";
import { getLangFromURL, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromURL(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
	return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<Layout>
  <Lens />
  <button data-theme class="border p-4 fixed">Toggle theme</button>
  <main class="min-h-dvh grid place-items-center">
    <div class="w-full h-[60vh] relative">
      <div class="absolute inset-0 size-full">
        <WaveText />
      </div>
    </div>
  </main>
</Layout>

<script>
  import { events, state } from "../../lib/states";

  const btn = document.querySelector<HTMLButtonElement>("[data-theme]");
  console.log("Button found:", btn);

  btn?.addEventListener("click", () => {
    const newTheme = state.getTheme() === "dark" ? "light" : "dark";
    events.emitThemeChange(newTheme);
    console.log("Theme changed to", newTheme);
  });
</script>
