---
import Frame from "../../components/grid/Frame.astro";
import FrameStriped from "../../components/grid/FrameStriped.astro";
import GridLayout from "../../components/grid/GridLayout.astro";
import Lens from "../../components/Lens.astro";
import { getLangFromURL, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromURL(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
	return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<Lens />

<Layout>
  <main>
    <section data-section="home" class="px-12">
      <GridLayout class="h-[60vh]">
        <Frame class="col-span-full" />
      </GridLayout>
    </section>
    <GridLayout class="h-15">
      <Frame class="col-span-6" />
      <FrameStriped class="col-span-2" />
    </GridLayout>
  </main>
</Layout>
