---
import { getLangFromURL, useTranslations } from "../../i18n/utils";
import Lens from "../../components/Lens.astro";
import SplashWave from "../../components/splash-wave/SplashWave.astro";
import Sunburst from "../../components/sunburst/Sunburst.astro";
import WaveText from "../../components/wave-text/WaveText.astro";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromURL(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "fr" } }];
}
---

<Layout>
  <Lens />
  <button data-theme class="border px-4 py-2 fixed">Theme</button>

  <main class="min-h-dvh grid px-32 py-42">
    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-4 relative border h-[60vh]">
        <div class="absolute inset-0 size-full">
          <SplashWave />
        </div>
      </div>
      <div class="col-span-8 relative border h-[60vh]">
        <div class="absolute inset-0 size-full">
          <WaveText />
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-6 w-full">
      <div class="col-span-full">
        <Sunburst />
      </div>
    </div>
  </main>
</Layout>

<script>
  import { events, state } from "../../lib/states";

  const btn = document.querySelector<HTMLButtonElement>("[data-theme]");

  btn?.addEventListener("click", () => {
    const newTheme = state.getTheme() === "dark" ? "light" : "dark";
    events.emitThemeChange(newTheme);
    console.log("Theme changed to", newTheme);
  });
</script>
