<section class="w-full h-[70dvh] grid place-items-center">
  <canvas data-hero-canvas class="block absolute inset-0 size-full -z-10"> </canvas>
  <div data-hero-panel class="size-2/3 border rounded-sm grid place-items-center">
    <p class="text-5xl font-heading font-bold uppercase text-center p-2">Panel for hero animation</p>
  </div>
</section>
