---
const rails = Array.from({ length: 8 });
---

<div class="fixed inset-0 z-0 pointer-events-none px-12">
  <div class="container size-full mx-auto grid grid-cols-8">
    {
      rails.map((_, idx) => (
        <div class="relative">
          <span class="absolute inset-y-0 start-0 w-px bg-foreground/25" />
          {idx === rails.length - 1 && <span class="absolute inset-y-0 end-0 w-px bg-foreground/25" />}
        </div>
      ))
    }
  </div>
</div>
