@import "tailwindcss";

/* biome-ignore lint: lint/suspicious/noUnknownAtRules */
@custom-variant dark (&:where(.dark, .dark *));

/* commissioner-latin-wght-normal */
@font-face {
	font-family: "Commissioner Variable";
	font-style: oblique 0deg 12deg;
	font-display: swap;
	font-weight: 100 900;
	src: url("@fontsource-variable/commissioner/files/commissioner-latin-slnt-normal.woff2")
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* mona-sans-latin-wght-normal */
@font-face {
	font-family: "Mona Sans Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 200 900;
	font-stretch: 75% 125%;
	src: url("@fontsource-variable/mona-sans/files/mona-sans-latin-wdth-normal.woff2")
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	scroll-behavior: smooth;
}

[id] {
	scroll-margin-top: 60px;
}

:root {
	--color-background: oklch(0.9332 0.025 75.27); /* #f3e7d7 */
	--color-foreground: oklch(0.329 0 0); /* #353535  oklch(0.329 0 0) */
}

:root.dark {
	--color-background: oklch(0.329 0 0); /* #353535 */
	--color-foreground: oklch(0.9332 0.025 75.27); /* #f1f1f1 */
}

/* biome-ignore lint: lint/suspicious/noUnknownAtRules */
@theme {
	--font-heading: "Commissioner Variable", sans-serif;
	--font-body: "Mono Sans Variable", sans-serif;
	--color-background: var(--color-background);
	--color-foreground: var(--color-foreground);
	--animate-marquee: marquee-animation 20s linear infinite forwards;

	--inset-shadow-cutout: inset 0 0 20px var(--color-foreground);
	--inset-shadow-cutout-deep: inset 0 0 30px var(--color-foreground);

	@keyframes marquee-animation {
		to {
			transform: translateX(-50%);
		}
	}
}

/* biome-ignore lint: lint/suspicious/noUnknownAtRules */
@utility variation-* {
	font-variation-settings: "wght" --value(integer);
}

/* biome-ignore lint: lint/suspicious/noUnknownAtRules */
@utility grid-pattern-* {
	background-image:
		linear-gradient(var(--color-foreground) 1px, transparent 1px),
		linear-gradient(to right, var(--color-foreground) 1px, transparent 1px);
	background-size: calc(--value(integer) * 1px) calc(--value(integer) * 1px);
}

@layer components {
	.retro-grid-pattern {
		background-image:
			linear-gradient(45deg, var(--color-foreground) 25%, transparent 25%),
			linear-gradient(-45deg, var(--color-foreground) 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, var(--color-foreground) 75%),
			linear-gradient(-45deg, transparent 75%, var(--color-foreground) 75%);
		background-size: 50px 50px;
		background-position:
			0 0,
			0 25px,
			25px -25px,
			-25px 0px;
	}

	.stripes {
		background: repeating-linear-gradient(
			135deg,
			var(--color-foreground),
			var(--color-foreground) 1px,
			transparent 1px,
			transparent 10px
		);
	}
}
