@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* hubot-sans-latin-wght-normal */
@font-face {
	font-family: "SwissPoster Variable";
	font-display: swap;
	font-weight: 200 900;
	font-stretch: 75% 150%;
	src: url("/assets/fonts/Swiss.woff2") format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	scroll-behavior: smooth;
}

[id] {
	scroll-margin-top: 60px;
}

:root {
	--white: oklch(1 0 0);
	--black: oklch(0.329 0 0);

	--color-background: var(--white);
	--color-foreground: var(--black);

	--lens-radius: 250px;
	--mask-radius: calc(var(--lens-radius) / 2);
	--mouse-x: 0;
	--mouse-y: 0;
}

:root.dark {
	--color-background: var(--black);
	--color-foreground: var(--white);
}

@theme {
	--font-body: "SwissPoster Variable", sans-serif;

	--color-background: var(--color-background);
	--color-foreground: var(--color-foreground);

	--inset-shadow-cutout: inset 0 0 20px var(--color-foreground);
	--inset-shadow-cutout-deep: inset 0 0 30px var(--color-foreground);

	--spacing-lens-radius: var(--lens-radius);

	--background-image-stripes: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 8px,
		var(--color-foreground) 8px,
		var(--color-foreground) 9px
	);

	--background-image-striped-dashed: repeating-linear-gradient(
		45deg,
		var(--color-foreground) 0,
		var(--color-foreground) 6px,
		transparent 6px,
		transparent 9px
	);
}

@utility text-stroke {
	-webkit-text-stroke: 1px var(--color-foreground);
}

@utility masked-reveal {
	mask-image: radial-gradient(
		circle at var(--mouse-x) var(--mouse-y),
		black var(--mask-radius),
		transparent var(--mask-radius)
	);
}

@utility masked-hide {
	mask-image: radial-gradient(
		circle at var(--mouse-x) var(--mouse-y),
		transparent var(--mask-radius),
		black var(--mask-radius)
	);
}

@utility grid-pattern-* {
	background-image:
		linear-gradient(var(--color-foreground) 1px, transparent 1px),
		linear-gradient(to right, var(--color-foreground) 1px, transparent 1px);
	background-size: calc(--value(integer) * 1px) calc(--value(integer) * 1px);
}

@utility writing-mode-* {
	writing-mode: --value("sideways-lr", "sideways-rl", "vertical-rl", "vertical-lr");
}
