@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* commissioner-latin-wght-normal */
@font-face {
	font-family: "Commissioner Variable";
	font-style: oblique 0deg 12deg;
	font-display: swap;
	font-weight: 100 900;
	src: url("@fontsource-variable/commissioner/files/commissioner-latin-slnt-normal.woff2")
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* mona-sans-latin-wght-normal */
@font-face {
	font-family: "Mona Sans Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 200 900;
	font-stretch: 75% 125%;
	src: url("@fontsource-variable/mona-sans/files/mona-sans-latin-wdth-normal.woff2")
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* hubot-sans-latin-wght-normal */
@font-face {
	font-family: "Hubot Sans Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 200 900;
	src: url("@fontsource-variable/hubot-sans/files/hubot-sans-latin-wght-normal.woff2")
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	scroll-behavior: smooth;
}

[id] {
	scroll-margin-top: 60px;
}

:root {
	--white: oklch(1 0 0);
	--black: oklch(0.329 0 0);

	--color-background: var(--white);
	--color-foreground: var(--black);
	--hero-bg: var(--color-background);
	--hero-fg: var(--color-foreground);

	--lens-radius: 0px;
}

:root.dark {
	--color-background: var(--black);
	--color-foreground: var(--white);
	--hero-bg: var(--color-background);
	--hero-fg: var(--color-foreground);
}

@theme {
	--font-heading: "Commissioner Variable", sans-serif;
	--font-body: "Mono Sans Variable", sans-serif;
	--font-code: "Hubot Sans Variable", sans-serif;

	--color-background: var(--color-background);
	--color-foreground: var(--color-foreground);

	--inset-shadow-cutout: inset 0 0 20px var(--color-foreground);
	--inset-shadow-cutout-deep: inset 0 0 30px var(--color-foreground);

	--inset-shadow-border: inset 0 0 1px var(--color-foreground);
}

@utility variation-* {
	font-variation-settings: "wght" --value(integer);
}

@utility grid-pattern-* {
	background-image:
		linear-gradient(var(--color-foreground) 1px, transparent 1px),
		linear-gradient(to right, var(--color-foreground) 1px, transparent 1px);
	background-size: calc(--value(integer) * 1px) calc(--value(integer) * 1px);
}
