---
import StorePills from "../components/StorePills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="fixed inset-0 grid grid-cols-8 container mx-auto size-full -z-10">
    <div class="border-s"></div>
    <div class="border-s"></div>
    <div class="border-s"></div>
    <div class="border-s"></div>
    <div class="border-s"></div>
    <div class="border-s"></div>
    <div class="border-s"></div>
    <div class="border-s border-e"></div>
  </div>

  <header class="pt-32">
    <div class="container mx-auto">
      <div class="grid grid-cols-8">
        <div class="col-start-1 col-end-8 stripes bg-background relative border-s border-t border-dashed">
          <div class="absolute top-0 start-0 size-2 bg-foreground -translate-1/2 z-10"></div>
          <div class="absolute top-0 end-0 size-2 bg-foreground -translate-y-1/2 translate-x-1/2 z-10"></div>
          <div class="absolute bottom-0 end-0 size-2 bg-foreground translate-y-1/2 translate-x-1/2 z-10"></div>
        </div>

        <div
          class="col-start-8 py-4 grid place-items-center relative bg-background border-t border-s border-e border-dashed"
        >
          <div class="absolute top-0 end-0 size-2 bg-foreground -translate-y-1/2 translate-x-1/2 z-10"></div>
          <button data-theme-toggle class="text-xs font-light uppercase leading-none inline-grid">
            Toggle Theme
          </button>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="container mx-auto" id="home">
      <div class="grid grid-cols-8 size-full">
        <div
          class="w-full h-[550px] col-start-1 col-end-9 border border-dashed relative bg-background grid place-items-center @container"
        >
          <canvas id="splash-wave-canvas" class="size-full absolute inset-0"></canvas>
          <div class="relative grid place-items-center pointer-events-none">
            <div class="size-[18cqi] relative grid place-items-center text-foreground">
              <div class="size-full bg-background border absolute inset-0 rounded-full"></div>
            </div>
          </div>

          <div class="absolute top-0 start-0 size-2 bg-foreground -translate-1/2"></div>
          <div class="absolute top-0 end-0 size-2 bg-foreground -translate-y-1/2 translate-x-1/2"></div>
          <div class="absolute bottom-0 end-0 size-2 bg-foreground translate-y-1/2 translate-x-1/2"></div>
          <div class="absolute bottom-0 start-0 size-2 bg-foreground translate-y-1/2 -translate-x-1/2"></div>
        </div>

        <div class="col-span-full border-s border-e border-b bg-background grid grid-cols-8">
          <div class="col-start-1 col-end-3 border-e py-4 grid place-items-center relative">
            <div class="absolute top-0 end-0 size-2 bg-foreground -translate-y-1/2 translate-x-1/2"></div>
            <div class="absolute bottom-0 start-0 size-2 bg-foreground translate-y-1/2 -translate-x-1/2"></div>
            <p class="uppercase text-xs">copyright 2025</p>
          </div>
          <div class="col-start-3 col-end-9 stripes relative">
            <div class="absolute bottom-0 end-0 size-2 bg-foreground translate-y-1/2 translate-x-1/2"></div>
          </div>
        </div>

        <div class="col-start-3 col-end-7 bg-background border-s grid place-items-center gap-12 p-12 relative">
          <div class="absolute top-0 start-0 size-2 bg-foreground -translate-1/2"></div>
          <div class="absolute top-0 end-0 size-2 bg-foreground -translate-y-1/2 translate-x-1/2"></div>
          <div class="absolute bottom-0 end-0 size-2 bg-foreground translate-y-1/2 translate-x-1/2"></div>
          <div class="absolute bottom-0 start-0 size-2 bg-foreground translate-y-1/2 -translate-x-1/2"></div>

          <p class="sr-only">Make it real</p>
          <div class="flex gap-4 font-heading font-bold text-3xl" aria-hidden="true">
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">M</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>

            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">A</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>

            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">K</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">E</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
          </div>

          <div class="flex gap-4 font-heading font-bold text-3xl">
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">I</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">T</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
          </div>

          <div class="flex gap-4 font-heading font-bold text-3xl">
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">R</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">E</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">A</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
            <div class="relative">
              <div class="bg-foreground size-20 absolute inset-0 translate-1"></div>
              <div class="bg-background border-2 size-20 grid place-items-center relative">
                <span class="col-span-full">L</span>
                <span class="text-sm absolute bottom-1 end-1.5">1</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container mx-auto grid-cols-8 h-16 bg-background border"></div>

    <section id="projects" class="sticky min-h-dvh top-0 grid place-items-center" data-wave-text="WORKS">
      <div class="container mx-auto">
        <div class="w-full h-[600px] border border-dashed relative bg-background">
          <div class="absolute top-0 start-0 size-2 bg-foreground -translate-1/2"></div>
          <div class="absolute top-0 end-0 size-2 bg-foreground -translate-y-1/2 translate-x-1/2"></div>
          <div class="absolute bottom-0 end-0 size-2 bg-foreground translate-y-1/2 translate-x-1/2"></div>
          <div class="absolute bottom-0 start-0 size-2 bg-foreground translate-y-1/2 -translate-x-1/2"></div>

          <div class="relative size-full">
            <canvas id="moire-canvas" class="size-full absolute inset-0 pointer-events-none"></canvas>
            <canvas id="repel-canvas" class="size-full absolute inset-0 pointer-events-none"></canvas>
            <canvas id="wave-canvas" class="size-full border-0 block absolute inset-0"></canvas>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="min-h-[200dvh] grid place-items-center" data-wave-text="ABOUT"></section>
    <section id="contact" class="min-h-dvh grid place-items-center" data-wave-text="CONTACT"></section>
  </main>
</Layout>

<script>
  import { SplashWaveScene } from "../lib/canvas-2d/splash-wave";
  import { MoireCanvas } from "../lib/lines-repel/moire";
  import { LinesRepelScene } from "../lib/lines-repel/lines-repel-scene";
  import { WaveScene } from "../lib/wave/wave-scene";
  import { setupWaveSectionController } from "../lib/wave/wave-scroll-controller";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  //------------ header
  const themeToggleBtn = document.querySelector<HTMLButtonElement>("[data-theme-toggle]");

  themeToggleBtn?.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
    const isDark = document.documentElement.classList.contains("dark");
    window.dispatchEvent(new CustomEvent("themechange", { detail: { theme: isDark ? "dark" : "light" } }));
  });

  //------------ splash canvas
  const canvas = document.getElementById("splash-wave-canvas") as HTMLCanvasElement;
  const splash = new SplashWaveScene(canvas);
  splash.mount();

  //------------ section canvas
  const waveCanvas = document.getElementById("wave-canvas") as HTMLCanvasElement;
  const scene = new WaveScene({ canvas: waveCanvas });
  scene.start();

  const teardownWaveSections = setupWaveSectionController({
    scene,
    canvas: waveCanvas,
  });

  const moireCanvas = document.getElementById("moire-canvas") as HTMLCanvasElement;
  const moire = new MoireCanvas(moireCanvas, { lineSpacing: 30 });
  moire.start();

  const repelCanvas = document.getElementById("repel-canvas") as HTMLCanvasElement;
  const repel = new LinesRepelScene(repelCanvas, { configLines: { spacing: 30 } });
  repel.start();

  gsap.ticker.add(() => {
    const { x, y, radius } = scene.getLensCSS();
    repel.setRepellerPosition({ x, y }, radius);
  });

  //---------- clean
  window.addEventListener("beforeunload", () => {
    teardownWaveSections?.();
    splash.unmount();
    moire.dispose();
    scene.dispose();
  });
</script>
