---
const NAV_LINKS = [
	{ label: "Home", href: "#home" },
	{ label: "About", href: "#about" },
	{ label: "Projects", href: "#projects" },
	{ label: "Contact", href: "#contact" },
];
---

<header class="px-8 py-4 fixed w-full z-10">
  <div class="flex items-center justify-between">
    <p class="uppercase text-xs">Cédric Gourville</p>
    <div class="flex gap-8">
      <nav class="flex gap-4 items-center">
        {
          NAV_LINKS.map((link) => (
            <a href={link.href} class="text-sm variation-300 uppercase">
              {link.label}
            </a>
          ))
        }
      </nav>
      <button id="theme-toggle-btn" class="text-xs variation-300 uppercase">Toggle Theme</button>
    </div>
  </div>
</header>

<script>
  const themeToggleBtn = document.getElementById("theme-toggle-btn") as HTMLButtonElement;

  themeToggleBtn.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
    const isDark = document.documentElement.classList.contains("dark");
    window.dispatchEvent(new CustomEvent("themechange", { detail: { theme: isDark ? "dark" : "light" } }));
  });
</script>
