---
import Frame from "./grid/Frame.astro";
import FrameStriped from "./grid/FrameStriped.astro";
import GridLayout from "./grid/GridLayout.astro";
import LanguagePicker from "./LanguagePicker.astro";
import MenuButton from "./menu/MenuButton.astro";
---

<header class="pt-40 px-12">
  <GridLayout>
    <FrameStriped class="col-span-7" />
    <Frame class="col-span-1">
      <div class="size-full grid place-items-end"><MenuButton /></div>
    </Frame>
    <!-- <LanguagePicker /> -->
  </GridLayout>
</header>
