---
import { languages } from "../i18n/ui";
import { getLangFromURL, getRouteFromURL } from "../i18n/utils";

const route = getRouteFromURL(Astro.url);
const curLang = getLangFromURL(Astro.url);

function isActive(lang: string) {
	return lang === curLang;
}
---

<nav>
  <ul class="flex gap-2 px42 py-4 items-center justify-center">
    {
      Object.entries(languages).map(([lang, label]) => (
        <li>
          <a data-active={isActive(lang)} href={`/${lang}/${route}`} class="data-[active='true']:font-bold text-sm">
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
