<button data-theme-btn class="px-2 py-4 text-sm">Theme</button>

<script>
  import { setTheme } from "../lib/theme";
  const toggleBtn = document.querySelector<HTMLButtonElement>("[data-theme-btn]");

  toggleBtn?.addEventListener("click", setTheme);
</script>
