---
import CSSIcon from "./icons/CSSIcon.astro";
import DrizzleIcon from "./icons/DrizzleIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import GSAPIcon from "./icons/GSAPIcon.astro";
import HonoIcon from "./icons/HonoIcon.astro";
import HTMLIcon from "./icons/HTMLIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import NextJSIcon from "./icons/NextJSIcon.astro";
import NodeIcon from "./icons/NodeIcon.astro";
import PostgreSQLIcon from "./icons/PostgreSQLIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import RiveIcon from "./icons/RiveIcon.astro";
import ShadcnIcon from "./icons/ShadcnIcon.astro";
import StorybookIcon from "./icons/StorybookIcon.astro";
import SupabaseIcon from "./icons/SupabaseIcon.astro";
import SVGIcon from "./icons/SVGIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import TanstackIcon from "./icons/TanstackIcon.astro";
import ThreeJSIcon from "./icons/ThreeJSIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import ViteIcon from "./icons/ViteIcon.astro";
import VitestIcon from "./icons/VitestIcon.astro";
import WebGLIcon from "./icons/WebGLIcon.astro";
import ZodIcon from "./icons/ZodIcon.astro";

const FIRST_ROW = [
	{
		icon: HTMLIcon,
		title: "HTML",
		description: "HyperText Markup Language",
		link: "https://developer.mozilla.org/en-US/docs/Web/HTML",
	},
	{
		icon: CSSIcon,
		title: "CSS",
		description: "Cascading Style Sheets",
		link: "https://developer.mozilla.org/en-US/docs/Web/CSS",
	},
	{
		icon: JavaScriptIcon,
		title: "JavaScript",
		description: "Programming language",
		link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
	},
	{
		icon: TypeScriptIcon,
		title: "TypeScript",
		description: "Superset of JavaScript",
		link: "https://www.typescriptlang.org/",
	},
	{
		icon: ReactIcon,
		title: "React",
		description: "JavaScript library",
		link: "https://reactjs.org/",
	},
	{
		icon: TailwindIcon,
		title: "Tailwind CSS",
		description: "Utility-first CSS framework",
		link: "https://tailwindcss.com/",
	},
	{
		icon: GitIcon,
		title: "Git",
		description: "Version control system",
		link: "https://git-scm.com/",
	},
	{
		icon: ShadcnIcon,
		title: "Shadcn",
		description: "UI component library",
		link: "https://ui.shadcn.com/",
	},
];

const SECOND_ROW = [
	{
		icon: NextJSIcon,
		title: "Next.js",
		description: "React framework",
		link: "https://nextjs.org/",
	},
	{
		icon: TanstackIcon,
		title: "Tanstack",
		description: "JavaScript library",
		link: "https://tanstack.com/",
	},
	{
		icon: NodeIcon,
		title: "Node.js",
		description: "JavaScript runtime",
		link: "https://nodejs.org/",
	},
	{
		icon: SupabaseIcon,
		title: "Supabase",
		description: "Database as a service",
		link: "https://supabase.io/",
	},
	{
		icon: PostgreSQLIcon,
		title: "PostgreSQL",
		description: "Relational database management system",
		link: "https://www.postgresql.org/",
	},
	{
		icon: DrizzleIcon,
		title: "Drizzle",
		description: "Type-safe ORM for PostgreSQL",
		link: "https://drizzle.team/",
	},

	{
		icon: ViteIcon,
		title: "Vite",
		description: "JavaScript build tool",
		link: "https://vitejs.dev/",
	},

	{
		icon: ZodIcon,
		title: "Zod",
		description: "Type-safe validation library",
		link: "https://zod.dev/",
	},
];

const THIRD_ROW = [
	{
		icon: StorybookIcon,
		title: "Storybook",
		description: "UI component development environment",
		link: "https://storybook.js.org/",
	},
	{
		icon: VitestIcon,
		title: "Vitest",
		description: "JavaScript testing framework",
		link: "https://vitest.dev/",
	},
	{
		icon: ThreeJSIcon,
		title: "ThreeJS",
		description: "JavaScript 3D library",
		link: "https://threejs.org/",
	},
	{
		icon: WebGLIcon,
		title: "WebGL",
		description: "JavaScript API for rendering 2D and 3D graphics",
		link: "https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API",
	},
	{
		icon: HonoIcon,
		title: "Hono",
		description: "",
		link: "https://hono.dev/",
	},
	{
		icon: SVGIcon,
		title: "SVG",
		description: "Scalable Vector Graphics",
		link: "https://developer.mozilla.org/en-US/docs/Web/SVG",
	},
	{
		icon: GSAPIcon,
		title: "GSAP",
		description: "JavaScript animation library",
		link: "https://greensock.com/gsap/",
	},
	{
		icon: RiveIcon,
		title: "Rive",
		description: "Animation library",
		link: "https://rive.app/",
	},
];
---

<div class="grid gap-y-2 place-items-center">
  <div class="grid gap-x-4 grid-rows-1 grid-flow-col overflow-hidden w-1/2">
    {
      FIRST_ROW.map((skill) => {
        const Icon = skill.icon;
        return (
          <div class="flex gap-4" data-boxes="first-row">
            <div class="p-2 border rounded-sm w-16 h-16">
              <Icon class="fill-current overflow-visible" />
            </div>

            <div class="bg-foreground rounded-sm w-16 h-16" />
          </div>
        );
      })
    }
  </div>

  <div class="grid gap-x-4 grid-rows-1 grid-flow-col overflow-hidden w-1/2">
    {
      SECOND_ROW.map((skill) => {
        const Icon = skill.icon;
        return (
          <div class="flex gap-4" data-boxes="second-row">
            <div class="bg-foreground rounded-sm w-16 h-16" />
            <div class="p-2 border rounded-sm w-16 h-16">
              <Icon class="size-full fill-current" />
            </div>
          </div>
        );
      })
    }
  </div>

  <div class="grid gap-x-4 grid-rows-1 grid-flow-col overflow-hidden w-1/2">
    {
      THIRD_ROW.map((skill) => {
        const Icon = skill.icon;
        return (
          <div class="flex gap-4" data-boxes="third-row">
            <div class="p-2 border rounded-sm w-16 h-16">
              <Icon class="size-full fill-current" />
            </div>
            <div class="bg-foreground rounded-sm w-16 h-16" />
          </div>
        );
      })
    }
  </div>
</div>

<script>
  import gsap from "gsap";
  import { horizontalLoop } from "../lib/gsap-loop";

  const firstRow = gsap.utils.toArray("[data-boxes='first-row']") as ArrayLike<Element>;
  const secondRow = gsap.utils.toArray("[data-boxes='second-row']") as ArrayLike<Element>;
  const thirdRow = gsap.utils.toArray("[data-boxes='third-row']") as ArrayLike<Element>;

  horizontalLoop(firstRow, {
    paused: false,
    repeat: -1,
    paddingRight: 16,
    speed: 0.8,
    reversed: true,
  });

  horizontalLoop(secondRow, {
    paused: false,
    repeat: -1,
    paddingRight: 16,
    speed: 0.9,
    reversed: true,
  });

  horizontalLoop(thirdRow, {
    paused: false,
    repeat: -1,
    paddingRight: 16,
    speed: 0.8,
    reversed: true,
  });
</script>
