---

---

<div class="grid grid-cols-[repeat(6,100px)] grid-rows-[repeat(4,100px)]">
  <div
    class="col-start-2 col-end-6 row-start-2 row-end-4 border-[0.5px] overflow-hidden grid place-items-center"
  >
    <span class="font-satoshi variation-900 text-9xl/40 text-nowrap">
      CREATIVE DEV
    </span>
  </div>
</div>
